.lnb {
    overflow: auto;
    border-bottom: 1px solid $border;

    &::-webkit-scrollbar {
        display: none;
    }

    &-list {
        // @include flexbox(start);
        // width: max-content;

        // %는 원래 부모의 컨텐츠 박스에 영향을 받으나.
        // max-content => 자신이 가질 수 있는 가장 큰 사이즈를 기준 (자식)

        @include inline-flexbox(start);
        white-space: nowrap;
        position: relative;
        left: -8px;
    }

    &-item {
        flex-shrink: 0;
        white-space: nowrap;

        a {
            @include text-style(13, $dark);
            display: block;
            padding: 0 8px;
            height: 40px;
            align-content: center;
            font-weight: 700;
            border-bottom: 2px solid transparent;
        }

        .ic-new {
            color: $red;
        }

        &.is-active {
            a {
                color: $blue;
                border-color: $blue;
            }
        }
    }
}
