.lnb {
    $lnb-link-padding: 8px;
    $grid-margin: $sm-margin + $gutter / 2;

    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &-list {
        // @include flexbox(start);
        // width: max-content;

        // %는 원래 부모의 컨텐츠 박스에 영향을 받으나.
        // max-content => 자신이 가질 수 있는 가장 큰 사이즈를 기준 (자식)

        @include inline-flexbox(start);
        height: 40px;
        padding: 0 #{$grid-margin - $lnb-link-padding};
        margin-left: -#{$grid-margin};
        white-space: nowrap;
        border-bottom: 1px solid $border;
    }

    &-item {
        flex-shrink: 0;
        white-space: nowrap;

        a {
            @include text-style(13, $dark);
            display: block;
            padding: 0 $lnb-link-padding;
            height: 40px;
            align-content: center;
            font-weight: 700;
            border-bottom: 2px solid transparent;
        }

        &.is-active {
            a {
                color: $blue;
                border-color: $blue;
            }
        }
    }
}
