.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
    gap: 24px - ($padding * 2);
    margin-left: -#{$padding};
  }

  &-item {
    &:hover,
    &.is-active {
      a {
        color: $blue;
      }
    }
    a {
      @include text-style(18, $primary);
      font-weight: 700;
      display: block;
      padding: $padding;
    }
  }
}
